@model IEnumerable<admin_lovelypa_in.MPA_TERMS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.user_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.term_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cgpa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.user_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.term_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cgpa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
