@model admin_lovelypa_in.MPA_USER_DATA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MPA_USER_DATA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_of_birth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_of_birth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.security_question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.security_question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.security_answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.security_answer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.profile_pic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profile_pic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weight)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.user_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
